# <center>ANALYSIS OF PERFORMANCE VARIABLES</center>

<h3>Reading all CSV files related to the experiments</h3>

In [1]:
import pandas as pd
import plotly.express as px
import zipfile

In [2]:
with zipfile.ZipFile('visualizations.zip', 'r') as zip_ref:
    zip_ref.extractall()

In [3]:
#Reading CSV file for experiment 1a with seed 1 and ss statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data = pd.read_csv(filepath_or_buffer='visualizations/visualization.csv', header=None)
var_data.columns = cols
var_data

         n  Rewards  Distance Agent
0        1       -1         3     F
1        2       -1         3     M
2        3       -1         1     F
3        4       -1         1     M
4        5       -1         1     F
...    ...      ...       ...   ...
4993  4994       -1         4     M
4994  4995       -1         2     F
4995  4996       -1         4     M
4996  4997       -1         2     F
4997  4998       -1         2     M

[4998 rows x 4 columns]

In [4]:
# value of n after terminal states reached for experiment 1a with seed 1 and ss statespace
terminalStates_data = pd.read_csv(filepath_or_buffer='visualizations/terminal_states.csv')
terminalStates_data

   Steps
0    838
1    794
2    702
3   1086
4    846
5    919
6   1261
7    810
8    732
9    887

In [5]:
#Reading CSV file for experiment 1a with seed 42 and ss statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data1 = pd.read_csv(filepath_or_buffer='visualizations/visualization1.csv', header=None)
var_data1.columns = cols
var_data1

         n  Rewards  Distance Agent
0        1       -1         5     F
1        2       -1         3     M
2        3       -1         4     F
3        4       -1         4     M
4        5       -1         2     F
...    ...      ...       ...   ...
4993  4994       -1         2     M
4994  4995       -1         4     F
4995  4996       -1         2     M
4996  4997       -2         1     F
4997  4998       -1         3     M

[4998 rows x 4 columns]

In [6]:
# value of n after terminal states reached for experiment 1a with seed 42 and ss statespace
terminalStates_data1 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states1.csv')
terminalStates_data1

    Steps
0     786
1     912
2    1102
3     706
4     970
5     994
6     739
7     983
8     887
9     782
10    934

In [7]:
#Reading CSV file for experiment 1b with seed 1 and ss statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data2 = pd.read_csv(filepath_or_buffer='visualizations/visualization2.csv', header=None)
var_data2.columns = cols
var_data2

         n  Rewards  Distance Agent
0        1       -1         3     F
1        2       -1         3     M
2        3       -1         1     F
3        4       -1         1     M
4        5       -1         1     F
...    ...      ...       ...   ...
4993  4994       -1         4     F
4994  4995       14         4     M
4995  4996       -1         4     F
4996  4997       -1         4     M
4997  4998       -1         4     F

[4998 rows x 4 columns]

In [8]:
# value of n after terminal states reached for experiment 1b with seed 1 and ss statespace
terminalStates_data1 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states2.csv')
terminalStates_data1

    Steps
0     859
1     891
2     723
3    1006
4     762
5     882
6     682
7     870
8     714
9     618
10    639
11    662
12    630

In [9]:
#Reading CSV file for experiment 1b with seed 42 and ss statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data3 = pd.read_csv(filepath_or_buffer='visualizations/visualization3.csv', header=None)
var_data3.columns = cols
var_data3

         n  Rewards  Distance Agent
0        1       -1         5     F
1        2       -1         3     M
2        3       -1         4     F
3        4       -1         4     M
4        5       -1         2     F
...    ...      ...       ...   ...
4992  4993       -1         4     M
4993  4994       -1         4     F
4994  4995       -1         4     M
4995  4996       -2         4     F
4996  4997       14         4     M

[4997 rows x 4 columns]

In [10]:
# value of n after terminal states reached for experiment 1b with seed 42 and ss statespace
terminalStates_data3 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states3.csv')
terminalStates_data3

    Steps
0     998
1     758
2     899
3     695
4     831
5     694
6     799
7     530
8     595
9     718
10    761

In [11]:
#Reading CSV file for experiment 1c with seed 1 and ss statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data4 = pd.read_csv(filepath_or_buffer='visualizations/visualization4.csv', header=None)
var_data4.columns = cols
var_data4

         n  Rewards  Distance Agent
0        1       -1         3     F
1        2       -1         3     M
2        3       -1         1     F
3        4       -1         1     M
4        5       -1         1     F
...    ...      ...       ...   ...
4992  4993       -1         3     F
4993  4994       -1         5     M
4994  4995       -1         3     F
4995  4996       -1         3     M
4996  4997       -2         3     F

[4997 rows x 4 columns]

In [12]:
# value of n after terminal states reached for experiment 1c with seed 1 and ss statespace
terminalStates_data4 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states4.csv')
terminalStates_data4

    Steps
0    1230
1     870
2     928
3     729
4     605
5     677
6     907
7     634
8     883
9     667
10    642
11    562
12    570

In [13]:
#Reading CSV file for experiment 1c with seed 42 and ss statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data5 = pd.read_csv(filepath_or_buffer='visualizations/visualization5.csv', header=None)
var_data5.columns = cols
var_data5

         n  Rewards  Distance Agent
0        1       -1         5     F
1        2       -1         3     M
2        3       -1         4     F
3        4       -1         4     M
4        5       -1         2     F
...    ...      ...       ...   ...
4989  4990       -1         3     M
4990  4991       -2         5     F
4991  4992       -1         6     M
4992  4993       -1         4     F
4993  4994       -1         2     M

[4994 rows x 4 columns]

In [14]:
# value of n after terminal states reached for experiment 1c with seed 1 and ss statespace
terminalStates_data5 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states5.csv')
terminalStates_data5

    Steps
0     715
1     706
2     743
3    1063
4     742
5     519
6     905
7     891
8     639
9     527
10    563
11    733
12    559
13    626

In [15]:
#Reading CSV file for experiment 2 with seed 1 and ss statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data6 = pd.read_csv(filepath_or_buffer='visualizations/visualization6.csv', header=None)
var_data6.columns = cols
var_data6

         n  Rewards  Distance Agent
0        1       -1         3     F
1        2       -1         3     M
2        3       -1         1     F
3        4       -1         1     M
4        5       -1         1     F
...    ...      ...       ...   ...
4992  4993       -1         3     F
4993  4994       -1         1     M
4994  4995       -1         3     F
4995  4996       -1         3     M
4996  4997       -1         3     F

[4997 rows x 4 columns]

In [16]:
# value of n after terminal states reached for experiment 2 with seed 1 and ss statespace
terminalStates_data6 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states6.csv')
terminalStates_data6

    Steps
0    1230
1    1086
2    1217
3     747
4     822
5     614
6     871
7     999
8     801
9     630
10    575

In [17]:
#Reading CSV file for experiment 2 with seed 42 and ss statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data7 = pd.read_csv(filepath_or_buffer='visualizations/visualization7.csv', header=None)
var_data7.columns = cols
var_data7

         n  Rewards  Distance Agent
0        1       -1         5     F
1        2       -1         3     M
2        3       -1         4     F
3        4       -1         4     M
4        5       -1         2     F
...    ...      ...       ...   ...
4991  4992       -1         2     M
4992  4993       -1         2     F
4993  4994       -1         2     M
4994  4995       -1         2     F
4995  4996       -1         2     M

[4996 rows x 4 columns]

In [18]:
# value of n after terminal states reached for experiment 2 with seed 42 and ss statespace
terminalStates_data7 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states7.csv')
terminalStates_data7

    Steps
0     715
1     706
2     720
3     737
4     514
5     634
6     686
7     598
8     919
9     809
10    631
11    662
12    843
13    599

In [19]:
#Reading CSV file for experiment 3a with seed 1 and ss statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data8 = pd.read_csv(filepath_or_buffer='visualizations/visualization8.csv', header=None)
var_data8.columns = cols
var_data8

         n  Rewards  Distance Agent
0        1       -1         5     F
1        2       -1         3     M
2        3       -1         4     F
3        4       -1         4     M
4        5       -1         2     F
...    ...      ...       ...   ...
4993  4994       -1         2     M
4994  4995       -1         4     F
4995  4996       -1         2     M
4996  4997       -2         1     F
4997  4998       -1         3     M

[4998 rows x 4 columns]

In [20]:
# value of n after terminal states reached for experiment 3a with seed 1 and ss statespace
terminalStates_data8 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states8.csv')
terminalStates_data8

   Steps
0    838
1    794
2    702
3   1086
4    846
5    919
6   1261
7    810
8    732
9    887

In [21]:
#Reading CSV file for experiment 3a with seed 42 and ss statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data9 = pd.read_csv(filepath_or_buffer='visualizations/visualization9.csv', header=None)
var_data9.columns = cols
var_data9

         n  Rewards  Distance Agent
0        1       -1         5     F
1        2       -1         3     M
2        3       -1         4     F
3        4       -1         4     M
4        5       -1         2     F
...    ...      ...       ...   ...
4993  4994       -1         2     M
4994  4995       -1         4     F
4995  4996       -1         2     M
4996  4997       -2         1     F
4997  4998       -1         3     M

[4998 rows x 4 columns]

In [22]:
# value of n after terminal states reached for experiment 3a with seed 42 and ss statespace
terminalStates_data9 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states9.csv')
terminalStates_data9

    Steps
0     786
1     912
2    1102
3     706
4     970
5     994
6     739
7     983
8     887
9     782
10    934

In [23]:
#Reading CSV file for experiment 3b with seed 1 and ss statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data10 = pd.read_csv(filepath_or_buffer='visualizations/visualization10.csv', header=None)
var_data10.columns = cols
var_data10

         n  Rewards  Distance Agent
0        1       -1         3     F
1        2       -1         3     M
2        3       -1         1     F
3        4       -1         1     M
4        5       -1         1     F
...    ...      ...       ...   ...
4993  4994       -1         4     M
4994  4995       -1         2     F
4995  4996       -1         4     M
4996  4997       -1         2     F
4997  4998       -1         2     M

[4998 rows x 4 columns]

In [24]:
# value of n after terminal states reached for experiment 3b with seed 1 and ss statespace
terminalStates_data10 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states10.csv')
terminalStates_data10

   Steps
0    838
1    794
2    702
3   1086
4    846
5    919
6   1261
7    810
8    732
9    887

In [25]:
#Reading CSV file for experiment 3b with seed 42 and ss statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data11 = pd.read_csv(filepath_or_buffer='visualizations/visualization11.csv', header=None)
var_data11.columns = cols
var_data11

         n  Rewards  Distance Agent
0        1       -1         5     F
1        2       -1         3     M
2        3       -1         4     F
3        4       -1         4     M
4        5       -1         2     F
...    ...      ...       ...   ...
4993  4994       -1         2     M
4994  4995       -1         4     F
4995  4996       -1         2     M
4996  4997       -2         1     F
4997  4998       -1         3     M

[4998 rows x 4 columns]

In [26]:
# value of n after terminal states reached for experiment 3b with seed 42 and ss statespace
terminalStates_data11 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states11.csv')
terminalStates_data11

    Steps
0     786
1     912
2    1102
3     706
4     970
5     994
6     739
7     983
8     887
9     782
10    934

In [27]:
#Reading CSV file for experiment 4 with seed 1 and ss statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data12 = pd.read_csv(filepath_or_buffer='visualizations/visualization12.csv', header=None)
var_data12.columns = cols
var_data12

         n  Rewards  Distance Agent
0        1       -1         3     F
1        2       -1         3     M
2        3       -1         1     F
3        4       -1         1     M
4        5       -1         1     F
...    ...      ...       ...   ...
2996  2997       -1         2     F
2997  2998       -1         2     M
2998  2999       -1         4     F
2999  3000       -1         2     M
3000  3001       -1         4     F

[3001 rows x 4 columns]

In [28]:
# value of n after terminal states reached for experiment 4 with seed 1 and ss statespace
terminalStates_data12 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states12.csv')
terminalStates_data12

   Steps
0   1230
1    870
2    928
3    887
4    862
5   1227

In [29]:
#Reading CSV file for experiment 4 with seed 42 and ss statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data13 = pd.read_csv(filepath_or_buffer='visualizations/visualization13.csv', header=None)
var_data13.columns = cols
var_data13

         n  Rewards  Distance Agent
0        1       -1         5     F
1        2       -1         3     M
2        3       -1         4     F
3        4       -1         4     M
4        5       -1         2     F
...    ...      ...       ...   ...
2437  2438       -1         2     M
2438  2439       -2         2     F
2439  2440       -1         2     M
2440  2441       -1         4     F
2441  2442       -1         6     M

[2442 rows x 4 columns]

In [30]:
# value of n after terminal states reached for experiment 4 with seed 42 and ss statespace
terminalStates_data13 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states13.csv')
terminalStates_data13

   Steps
0    715
1    706
2    743
3   1131
4    827
5    767

In [31]:
#Reading CSV file for experiment 1a with seed 1 and vs statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data14 = pd.read_csv(filepath_or_buffer='visualizations/visualization14.csv', header=None)
var_data14.columns = cols
var_data14

         n  Rewards  Distance Agent
0        1       -1         3     F
1        2       -1         3     M
2        3       -1         1     F
3        4       -1         1     M
4        5       -1         1     F
...    ...      ...       ...   ...
4993  4994       -1         4     M
4994  4995       -1         2     F
4995  4996       -1         4     M
4996  4997       -1         2     F
4997  4998       -1         2     M

[4998 rows x 4 columns]

In [32]:
# value of n after terminal states reached for experiment 1a with seed 1 and vs statespace
terminalStates_data14 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states14.csv')
terminalStates_data14

   Steps
0    838
1    794
2    702
3   1086
4    846
5    919
6   1261
7    810
8    732
9    887

In [33]:
#Reading CSV file for experiment 1a with seed 42 and vs statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data15 = pd.read_csv(filepath_or_buffer='visualizations/visualization15.csv', header=None)
var_data15.columns = cols
var_data15

         n  Rewards  Distance Agent
0        1       -1         5     F
1        2       -1         3     M
2        3       -1         4     F
3        4       -1         4     M
4        5       -1         2     F
...    ...      ...       ...   ...
4993  4994       -1         2     M
4994  4995       -1         4     F
4995  4996       -1         2     M
4996  4997       -2         1     F
4997  4998       -1         3     M

[4998 rows x 4 columns]

In [34]:
# value of n after terminal states reached for experiment 1a with seed 42 and vs statespace
terminalStates_data15 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states15.csv')
terminalStates_data15

    Steps
0     786
1     912
2    1102
3     706
4     970
5     994
6     739
7     983
8     887
9     782
10    934

In [35]:
#Reading CSV file for experiment 1b with seed 1 and vs statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data16 = pd.read_csv(filepath_or_buffer='visualizations/visualization16.csv', header=None)
var_data16.columns = cols
var_data16

         n  Rewards  Distance Agent
0        1       -1         3     F
1        2       -1         3     M
2        3       -1         1     F
3        4       -1         1     M
4        5       -1         1     F
...    ...      ...       ...   ...
4995  4996       -1         2     M
4996  4997       -1         4     F
4997  4998       -1         2     M
4998  4999       -1         4     F
4999  5000       -1         2     M

[5000 rows x 4 columns]

In [36]:
# value of n after terminal states reached for experiment 1b with seed 1 and vs statespace
terminalStates_data16 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states16.csv')
terminalStates_data16

Empty DataFrame
Columns: [Steps]
Index: []

In [37]:
#Reading CSV file for experiment 1b with seed 42 and vs statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data17 = pd.read_csv(filepath_or_buffer='visualizations/visualization17.csv', header=None)
var_data17.columns = cols
var_data17

         n  Rewards  Distance Agent
0        1       -1         5     F
1        2       -1         3     M
2        3       -1         4     F
3        4       -1         4     M
4        5       -1         2     F
...    ...      ...       ...   ...
4995  4996       -1         2     M
4996  4997       -1         4     F
4997  4998       -1         2     M
4998  4999       -1         4     F
4999  5000       -1         2     M

[5000 rows x 4 columns]

In [38]:
# value of n after terminal states reached for experiment 1b with seed 42 and vs statespace
terminalStates_data17 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states17.csv')
terminalStates_data17

Empty DataFrame
Columns: [Steps]
Index: []

In [39]:
#Reading CSV file for experiment 1c with seed 1 and vs statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data18 = pd.read_csv(filepath_or_buffer='visualizations/visualization18.csv', header=None)
var_data18.columns = cols
var_data18

         n  Rewards  Distance Agent
0        1       -1         3     F
1        2       -1         3     M
2        3       -1         1     F
3        4       -1         1     M
4        5       -1         1     F
...    ...      ...       ...   ...
4993  4994       -1         2     F
4994  4995       -1         2     M
4995  4996       -1         2     F
4996  4997       -1         2     M
4997  4998       -1         2     F

[4998 rows x 4 columns]

In [40]:
# value of n after terminal states reached for experiment 1c with seed 1 and vs statespace
terminalStates_data18 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states18.csv')
terminalStates_data18

   Steps
0   1751
1   3576
2   1547
3   1179

In [41]:
#Reading CSV file for experiment 1c with seed 42 and vs statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data19 = pd.read_csv(filepath_or_buffer='visualizations/visualization19.csv', header=None)
var_data19.columns = cols
var_data19

         n  Rewards  Distance Agent
0        1       -1         5     F
1        2       -1         3     M
2        3       -1         4     F
3        4       -1         4     M
4        5       -1         2     F
...    ...      ...       ...   ...
4994  4995       -1         2     F
4995  4996       -1         4     M
4996  4997       -1         2     F
4997  4998       -1         4     M
4998  4999       -1         2     F

[4999 rows x 4 columns]

In [42]:
# value of n after terminal states reached for experiment 1c with seed 42 and vs statespace
terminalStates_data19 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states19.csv')
terminalStates_data19

   Steps
0    990
1   1054
2   3313
3   2885

In [43]:
#Reading CSV file for experiment 2 with seed 1 and vs statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data20 = pd.read_csv(filepath_or_buffer='visualizations/visualization20.csv', header=None)
var_data20.columns = cols
var_data20

         n  Rewards  Distance Agent
0        1       -1         3     F
1        2       -1         3     M
2        3       -1         1     F
3        4       -1         1     M
4        5       -1         1     F
...    ...      ...       ...   ...
4989  4990       -1         4     M
4990  4991       -1         4     F
4991  4992       -1         4     M
4992  4993       -1         2     F
4993  4994       -1         3     M

[4994 rows x 4 columns]

In [44]:
# value of n after terminal states reached for experiment 2 with seed 1 and vs statespace
terminalStates_data20 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states20.csv')
terminalStates_data20

    Steps
0     679
1     370
2     283
3     335
4     499
5     306
6     365
7     454
8     328
9     298
10    295
11    227
12    271
13    434
14    529
15    390
16    222
17    269
18    350
19    358
20    590
21    522
22    424
23    432
24    307
25    339

In [45]:
#Reading CSV file for experiment 2 with seed 42 and vs statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data21 = pd.read_csv(filepath_or_buffer='visualizations/visualization21.csv', header=None)
var_data21.columns = cols
var_data21

         n  Rewards  Distance Agent
0        1       -1         5     F
1        2       -1         3     M
2        3       -1         4     F
3        4       -1         4     M
4        5       -1         2     F
...    ...      ...       ...   ...
4990  4991       -1         4     M
4991  4992       -1         4     F
4992  4993       -1         3     M
4993  4994       -1         2     F
4994  4995       -1         4     M

[4995 rows x 4 columns]

In [46]:
# value of n after terminal states reached for experiment 2 with seed 42 and vs statespace
terminalStates_data21 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states21.csv')
terminalStates_data21

    Steps
0     620
1     406
2     510
3     481
4     407
5     259
6     274
7     231
8     222
9     239
10    206
11    594
12    386
13    271
14    422
15    483
16    446
17    476
18    611
19    471
20    331
21    666
22    618
23    338

In [47]:
#Reading CSV file for experiment 3a with seed 1 and vs statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data22 = pd.read_csv(filepath_or_buffer='visualizations/visualization22.csv', header=None)
var_data22.columns = cols
var_data22

         n  Rewards  Distance Agent
0        1       -1         3     F
1        2       -1         3     M
2        3       -1         1     F
3        4       -1         1     M
4        5       -1         1     F
...    ...      ...       ...   ...
4993  4994       -1         4     M
4994  4995       -1         2     F
4995  4996       -1         4     M
4996  4997       -1         2     F
4997  4998       -1         2     M

[4998 rows x 4 columns]

In [48]:
# value of n after terminal states reached for experiment 3a with seed 1 and vs statespace
terminalStates_data22 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states22.csv')
terminalStates_data22

   Steps
0    838
1    794
2    702
3   1086
4    846
5    919
6   1261
7    810
8    732
9    887

In [49]:
#Reading CSV file for experiment 3a with seed 42 and vs statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data23 = pd.read_csv(filepath_or_buffer='visualizations/visualization23.csv', header=None)
var_data23.columns = cols
var_data23

         n  Rewards  Distance Agent
0        1       -1         5     F
1        2       -1         3     M
2        3       -1         4     F
3        4       -1         4     M
4        5       -1         2     F
...    ...      ...       ...   ...
4993  4994       -1         2     M
4994  4995       -1         4     F
4995  4996       -1         2     M
4996  4997       -2         1     F
4997  4998       -1         3     M

[4998 rows x 4 columns]

In [50]:
# value of n after terminal states reached for experiment 3a with seed 42 and vs statespace
terminalStates_data23 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states21.csv')
terminalStates_data23

    Steps
0     620
1     406
2     510
3     481
4     407
5     259
6     274
7     231
8     222
9     239
10    206
11    594
12    386
13    271
14    422
15    483
16    446
17    476
18    611
19    471
20    331
21    666
22    618
23    338

In [51]:
#Reading CSV file for experiment 3b with seed 1 and vs statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data24 = pd.read_csv(filepath_or_buffer='visualizations/visualization21.csv', header=None)
var_data24.columns = cols
var_data24

         n  Rewards  Distance Agent
0        1       -1         5     F
1        2       -1         3     M
2        3       -1         4     F
3        4       -1         4     M
4        5       -1         2     F
...    ...      ...       ...   ...
4990  4991       -1         4     M
4991  4992       -1         4     F
4992  4993       -1         3     M
4993  4994       -1         2     F
4994  4995       -1         4     M

[4995 rows x 4 columns]

In [52]:
# value of n after terminal states reached for experiment 3b with seed 1 and vs statespace
terminalStates_data24 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states24.csv')
terminalStates_data24

   Steps
0    838
1    794
2    702
3   1086
4    846
5    919
6   1261
7    810
8    732
9    887

In [53]:
#Reading CSV file for experiment 3b with seed 42 and vs statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data25 = pd.read_csv(filepath_or_buffer='visualizations/visualization25.csv', header=None)
var_data25.columns = cols
var_data25

         n  Rewards  Distance Agent
0        1       -1         5     F
1        2       -1         3     M
2        3       -1         4     F
3        4       -1         4     M
4        5       -1         2     F
...    ...      ...       ...   ...
4993  4994       -1         2     M
4994  4995       -1         4     F
4995  4996       -1         2     M
4996  4997       -2         1     F
4997  4998       -1         3     M

[4998 rows x 4 columns]

In [54]:
# value of n after terminal states reached for experiment 3b with seed 42 and vs statespace
terminalStates_data25 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states25.csv')
terminalStates_data25

    Steps
0     786
1     912
2    1102
3     706
4     970
5     994
6     739
7     983
8     887
9     782
10    934

In [55]:
#Reading CSV file for experiment 4 with seed 1 and vs statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data26 = pd.read_csv(filepath_or_buffer='visualizations/visualization26.csv', header=None)
var_data26.columns = cols
var_data26

         n  Rewards  Distance Agent
0        1       -1         3     F
1        2       -1         3     M
2        3       -1         1     F
3        4       -1         1     M
4        5       -1         1     F
...    ...      ...       ...   ...
4994  4995       -1         3     M
4995  4996       -1         3     F
4996  4997       -1         3     M
4997  4998       -1         3     F
4998  4999       -1         3     M

[4999 rows x 4 columns]

In [56]:
# value of n after terminal states reached for experiment 4 with seed 1 and vs statespace
terminalStates_data26 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states26.csv')
terminalStates_data26

   Steps
0   1751
1   3576
2   1547

In [57]:
#Reading CSV file for experiment 4 with seed 42 and vs statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data27 = pd.read_csv(filepath_or_buffer='visualizations/visualization27.csv', header=None)
var_data27.columns = cols
var_data27

         n  Rewards  Distance Agent
0        1       -1         5     F
1        2       -1         3     M
2        3       -1         4     F
3        4       -1         4     M
4        5       -1         2     F
...    ...      ...       ...   ...
4994  4995       -1         4     F
4995  4996       -1         2     M
4996  4997       -1         4     F
4997  4998       -1         2     M
4998  4999       -1         2     F

[4999 rows x 4 columns]

In [58]:
# value of n after terminal states reached for experiment 4 with seed 42 and vs statespace
terminalStates_data27 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states27.csv')
terminalStates_data27

   Steps
0    990
1   1054
2   3313

In [59]:
#Reading CSV file for experiment 1a with seed 1 and ms statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data28 = pd.read_csv(filepath_or_buffer='visualizations/visualization28.csv', header=None)
var_data28.columns = cols
var_data28

         n  Rewards  Distance Agent
0        1       -1         3     F
1        2       -1         3     M
2        3       -1         1     F
3        4       -1         1     M
4        5       -1         1     F
...    ...      ...       ...   ...
4993  4994       -1         4     M
4994  4995       -1         2     F
4995  4996       -1         4     M
4996  4997       -1         2     F
4997  4998       -1         2     M

[4998 rows x 4 columns]

In [60]:
# value of n after terminal states reached for experiment 1a with seed 1 and ms statespace
terminalStates_data28 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states28.csv')
terminalStates_data28

   Steps
0    838
1    794
2    702
3   1086
4    846
5    919
6   1261
7    810
8    732
9    887

In [61]:
#Reading CSV file for experiment 1a with seed 42 and ms statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data29 = pd.read_csv(filepath_or_buffer='visualizations/visualization29.csv', header=None)
var_data29.columns = cols
var_data29

         n  Rewards  Distance Agent
0        1       -1         5     F
1        2       -1         3     M
2        3       -1         4     F
3        4       -1         4     M
4        5       -1         2     F
...    ...      ...       ...   ...
4993  4994       -1         2     M
4994  4995       -1         4     F
4995  4996       -1         2     M
4996  4997       -2         1     F
4997  4998       -1         3     M

[4998 rows x 4 columns]

In [62]:
# value of n after terminal states reached for experiment 1a with seed 42 and ms statespace
terminalStates_data29 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states27.csv')
terminalStates_data29

   Steps
0    990
1   1054
2   3313

In [63]:
#Reading CSV file for experiment 1b with seed 1 and ms statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data30 = pd.read_csv(filepath_or_buffer='visualizations/visualization30.csv', header=None)
var_data30.columns = cols
var_data30

         n  Rewards  Distance Agent
0        1       -1         3     F
1        2       -1         3     M
2        3       -1         1     F
3        4       -1         1     M
4        5       -1         1     F
...    ...      ...       ...   ...
4986  4987       -1         1     F
4987  4988       -1         3     M
4988  4989       -1         3     F
4989  4990       14         1     M
4990  4991       -1         3     F

[4991 rows x 4 columns]

In [64]:
# value of n after terminal states reached for experiment 1b with seed 1 and ms statespace
terminalStates_data30 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states30.csv')
terminalStates_data30

    Steps
0     706
1     622
2     515
3     543
4     466
5     355
6     319
7     366
8     318
9     307
10    243
11    311
12    282
13    234
14    207
15    206
16    251
17    242
18    259
19    191
20    198
21    178
22    199
23    186
24    194
25    202
26    243
27    198
28    179
29    190
30    266
31    187
32    195
33    191
34    210

In [65]:
#Reading CSV file for experiment 1b with seed 42 and ms statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data31 = pd.read_csv(filepath_or_buffer='visualizations/visualization31.csv', header=None)
var_data31.columns = cols
var_data31

         n  Rewards  Distance Agent
0        1       -1         5     F
1        2       -1         3     M
2        3       -1         4     F
3        4       -1         4     M
4        5       -1         2     F
...    ...      ...       ...   ...
4990  4991       -1         3     F
4991  4992       -1         3     M
4992  4993       -1         5     F
4993  4994       -1         3     M
4994  4995       -1         3     F

[4995 rows x 4 columns]

In [66]:
# value of n after terminal states reached for experiment 1b with seed 42 and ms statespace
terminalStates_data31 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states31.csv')
terminalStates_data31

    Steps
0     603
1     783
2     618
3     702
4     599
5     370
6     310
7     382
8     251
9     398
10    254
11    251
12    263
13    210
14    302
15    250
16    231
17    227
18    222
19    231
20    206
21    194
22    223
23    170
24    190
25    222
26    190
27    182
28    198
29    186
30    190
31    170
32    186

In [67]:
#Reading CSV file for experiment 1c with seed 1 and ms statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data32 = pd.read_csv(filepath_or_buffer='visualizations/visualization32.csv', header=None)
var_data32.columns = cols
var_data32

         n  Rewards  Distance Agent
0        1       -1         3     F
1        2       -1         3     M
2        3       -1         1     F
3        4       -1         1     M
4        5       -1         1     F
...    ...      ...       ...   ...
4988  4989       -1         2     F
4989  4990       -1         2     M
4990  4991       -1         2     F
4991  4992       -1         4     M
4992  4993       -1         5     F

[4993 rows x 4 columns]

In [68]:
# value of n after terminal states reached for experiment 1c with seed 1 and ms statespace
terminalStates_data32 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states32.csv')
terminalStates_data32

    Steps
0     786
1     745
2     598
3     580
4     431
5     671
6     389
7     458
8     395
9     426
10    419
11    359
12    271
13    456
14    258
15    446
16    378
17    263
18    251
19    234
20    251
21    279
22    247
23    255

In [69]:
#Reading CSV file for experiment 1c with seed 42 and ms statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data33 = pd.read_csv(filepath_or_buffer='visualizations/visualization33.csv', header=None)
var_data33.columns = cols
var_data33

         n  Rewards  Distance Agent
0        1       -1         5     F
1        2       -1         3     M
2        3       -1         4     F
3        4       -1         4     M
4        5       -1         2     F
...    ...      ...       ...   ...
4988  4989       -2         3     M
4989  4990       -1         3     F
4990  4991       -1         5     M
4991  4992       -1         6     F
4992  4993       -1         4     M

[4993 rows x 4 columns]

In [70]:
# value of n after terminal states reached for experiment 1c with seed 42 and ms statespace
terminalStates_data33 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states31.csv')
terminalStates_data33

    Steps
0     603
1     783
2     618
3     702
4     599
5     370
6     310
7     382
8     251
9     398
10    254
11    251
12    263
13    210
14    302
15    250
16    231
17    227
18    222
19    231
20    206
21    194
22    223
23    170
24    190
25    222
26    190
27    182
28    198
29    186
30    190
31    170
32    186

In [71]:
#Reading CSV file for experiment 2 with seed 1 and ms statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data34 = pd.read_csv(filepath_or_buffer='visualizations/visualization34.csv', header=None)
var_data34.columns = cols
var_data34

         n  Rewards  Distance Agent
0        1       -1         3     F
1        2       -1         3     M
2        3       -1         1     F
3        4       -1         1     M
4        5       -1         1     F
...    ...      ...       ...   ...
4988  4989       -1         2     M
4989  4990       -1         3     F
4990  4991       -1         3     M
4991  4992       -1         3     F
4992  4993       -1         3     M

[4993 rows x 4 columns]

In [72]:
# value of n after terminal states reached for experiment 2 with seed 1 and ms statespace
terminalStates_data34 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states34.csv')
terminalStates_data34

    Steps
0     726
1     740
2     543
3     413
4     631
5     446
6     418
7     375
8     535
9     447
10    258
11    287
12    262
13    278
14    359
15    566
16    291
17    299
18    334
19    259
20    290
21    231
22    247
23    227
24    194
25    242

In [73]:
#Reading CSV file for experiment 2 with seed 42 and ms statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data35 = pd.read_csv(filepath_or_buffer='visualizations/visualization35.csv', header=None)
var_data35.columns = cols
var_data35

         n  Rewards  Distance Agent
0        1       -1         5     F
1        2       -1         3     M
2        3       -1         4     F
3        4       -1         4     M
4        5       -1         2     F
...    ...      ...       ...   ...
4989  4990       14         2     M
4990  4991       -1         3     F
4991  4992       -1         2     M
4992  4993       -1         2     F
4993  4994       -1         2     M

[4994 rows x 4 columns]

In [74]:
# value of n after terminal states reached for experiment 2 with seed 42 and ms statespace
terminalStates_data35 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states35.csv')
terminalStates_data35

    Steps
0     807
1     686
2     802
3     506
4     583
5     410
6     438
7     343
8     379
9     231
10    406
11    335
12    275
13    254
14    290
15    238
16    278
17    303
18    199
19    246
20    247
21    222
22    275
23    542
24    254
25    328

In [75]:
#Reading CSV file for experiment 3a with seed 1 and ms statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data36 = pd.read_csv(filepath_or_buffer='visualizations/visualization36.csv', header=None)
var_data36.columns = cols
var_data36

         n  Rewards  Distance Agent
0        1       -1         3     F
1        2       -1         3     M
2        3       -1         1     F
3        4       -1         1     M
4        5       -1         1     F
...    ...      ...       ...   ...
4993  4994       -1         4     M
4994  4995       -1         2     F
4995  4996       -1         4     M
4996  4997       -1         2     F
4997  4998       -1         2     M

[4998 rows x 4 columns]

In [76]:
# value of n after terminal states reached for experiment 3a with seed 1 and ms statespace
terminalStates_data36 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states36.csv')
terminalStates_data36

   Steps
0    838
1    794
2    702
3   1086
4    846
5    919
6   1261
7    810
8    732
9    887

In [77]:
#Reading CSV file for experiment 3a with seed 42 and ms statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data37 = pd.read_csv(filepath_or_buffer='visualizations/visualization37.csv', header=None)
var_data37.columns = cols
var_data37

         n  Rewards  Distance Agent
0        1       -1         5     F
1        2       -1         3     M
2        3       -1         4     F
3        4       -1         4     M
4        5       -1         2     F
...    ...      ...       ...   ...
4993  4994       -1         2     M
4994  4995       -1         4     F
4995  4996       -1         2     M
4996  4997       -2         1     F
4997  4998       -1         3     M

[4998 rows x 4 columns]

In [78]:
# value of n after terminal states reached for experiment 3a with seed 42 and ms statespace
terminalStates_data37 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states35.csv')
terminalStates_data37

    Steps
0     807
1     686
2     802
3     506
4     583
5     410
6     438
7     343
8     379
9     231
10    406
11    335
12    275
13    254
14    290
15    238
16    278
17    303
18    199
19    246
20    247
21    222
22    275
23    542
24    254
25    328

In [79]:
#Reading CSV file for experiment 3b with seed 1 and ms statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data38 = pd.read_csv(filepath_or_buffer='visualizations/visualization38.csv', header=None)
var_data38.columns = cols
var_data38

         n  Rewards  Distance Agent
0        1       -1         3     F
1        2       -1         3     M
2        3       -1         1     F
3        4       -1         1     M
4        5       -1         1     F
...    ...      ...       ...   ...
4993  4994       -1         4     M
4994  4995       -1         2     F
4995  4996       -1         4     M
4996  4997       -1         2     F
4997  4998       -1         2     M

[4998 rows x 4 columns]

In [80]:
# value of n after terminal states reached for experiment 3b with seed 1 and ms statespace
terminalStates_data38 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states38.csv')
terminalStates_data38

   Steps
0    838
1    794
2    702
3   1086
4    846
5    919
6   1261
7    810
8    732
9    887

In [81]:
#Reading CSV file for experiment 3b with seed 42 and ms statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data39 = pd.read_csv(filepath_or_buffer='visualizations/visualization39.csv', header=None)
var_data39.columns = cols
var_data39

         n  Rewards  Distance Agent
0        1       -1         5     F
1        2       -1         3     M
2        3       -1         4     F
3        4       -1         4     M
4        5       -1         2     F
...    ...      ...       ...   ...
4993  4994       -1         2     M
4994  4995       -1         4     F
4995  4996       -1         2     M
4996  4997       -2         1     F
4997  4998       -1         3     M

[4998 rows x 4 columns]

In [82]:
# value of n after terminal states reached for experiment 3b with seed 42 and ms statespace
terminalStates_data39 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states39.csv')
terminalStates_data39

    Steps
0     786
1     912
2    1102
3     706
4     970
5     994
6     739
7     983
8     887
9     782
10    934

In [83]:
#Reading CSV file for experiment 4 with seed 1 and ms statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data40 = pd.read_csv(filepath_or_buffer='visualizations/visualization40.csv', header=None)
var_data40.columns = cols
var_data40

         n  Rewards  Distance Agent
0        1       -1         3     F
1        2       -1         3     M
2        3       -1         1     F
3        4       -1         1     M
4        5       -1         1     F
...    ...      ...       ...   ...
3257  3258       -1         4     F
3258  3259       -1         4     M
3259  3260       -1         2     F
3260  3261       -1         4     M
3261  3262       -1         4     F

[3262 rows x 4 columns]

In [84]:
# value of n after terminal states reached for experiment 4 with seed 1 and ms statespace
terminalStates_data40 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states40.csv')
terminalStates_data40

   Steps
0    786
1    745
2    598
3   1890
4   1334
5   1174

In [85]:
#Reading CSV file for experiment 4 with seed 42 and ms statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data41 = pd.read_csv(filepath_or_buffer='visualizations/visualization41.csv', header=None)
var_data41.columns = cols
var_data41

         n  Rewards  Distance Agent
0        1       -1         5     F
1        2       -1         3     M
2        3       -1         4     F
3        4       -1         4     M
4        5       -1         2     F
...    ...      ...       ...   ...
2827  2828       -1         2     F
2828  2829       -1         2     M
2829  2830       -1         2     F
2830  2831       -1         4     M
2831  2832       -1         4     F

[2832 rows x 4 columns]

In [86]:
# value of n after terminal states reached for experiment 4 with seed 42 and ms statespace
terminalStates_data41 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states41.csv')
terminalStates_data41

   Steps
0    807
1    587
2    763
3   1203
4   1238
5   1071

In [87]:
#Reading CSV file for experiment 1a with seed 1 and cs2 statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data42 = pd.read_csv(filepath_or_buffer='visualizations/visualization42.csv', header=None)
var_data42.columns = cols
var_data42

         n  Rewards  Distance Agent
0        1       -1         3     F
1        2       -1         3     M
2        3       -1         1     F
3        4       -1         1     M
4        5       -1         1     F
...    ...      ...       ...   ...
4993  4994       -1         4     M
4994  4995       -1         2     F
4995  4996       -1         4     M
4996  4997       -1         2     F
4997  4998       -1         2     M

[4998 rows x 4 columns]

In [88]:
# value of n after terminal states reached for experiment 1a with seed 1 and cs2 statespace
terminalStates_data42 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states42.csv')
terminalStates_data42

   Steps
0    838
1    794
2    702
3   1086
4    846
5    919
6   1261
7    810
8    732
9    887

In [89]:
#Reading CSV file for experiment 1a with seed 42 and cs2 statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data43 = pd.read_csv(filepath_or_buffer='visualizations/visualization43.csv', header=None)
var_data43.columns = cols
var_data43

         n  Rewards  Distance Agent
0        1       -1         5     F
1        2       -1         3     M
2        3       -1         4     F
3        4       -1         4     M
4        5       -1         2     F
...    ...      ...       ...   ...
4993  4994       -1         2     M
4994  4995       -1         4     F
4995  4996       -1         2     M
4996  4997       -2         1     F
4997  4998       -1         3     M

[4998 rows x 4 columns]

In [90]:
# value of n after terminal states reached for experiment 1a with seed 42 and cs2 statespace
terminalStates_data43 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states43.csv')
terminalStates_data43

    Steps
0     786
1     912
2    1102
3     706
4     970
5     994
6     739
7     983
8     887
9     782
10    934

In [91]:
#Reading CSV file for experiment 1b with seed 1 and cs2 statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data44 = pd.read_csv(filepath_or_buffer='visualizations/visualization44.csv', header=None)
var_data44.columns = cols
var_data44

         n  Rewards  Distance Agent
0        1       -1         3     F
1        2       -1         3     M
2        3       -1         1     F
3        4       -1         1     M
4        5       -1         1     F
...    ...      ...       ...   ...
4993  4994       -1         4     F
4994  4995       14         4     M
4995  4996       -1         4     F
4996  4997       -1         4     M
4997  4998       -1         4     F

[4998 rows x 4 columns]

In [92]:
# value of n after terminal states reached for experiment 1b with seed 1 and cs2 statespace
terminalStates_data44 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states44.csv')
terminalStates_data44

   Steps
0    799
1    806
2   1070
3    886
4    789
5    818
6   1218
7    767
8    955
9    859

In [93]:
#Reading CSV file for experiment 1b with seed 42 and cs2 statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data45 = pd.read_csv(filepath_or_buffer='visualizations/visualization45.csv', header=None)
var_data45.columns = cols
var_data45

         n  Rewards  Distance Agent
0        1       -1         5     F
1        2       -1         3     M
2        3       -1         4     F
3        4       -1         4     M
4        5       -1         2     F
...    ...      ...       ...   ...
4992  4993       -1         4     M
4993  4994       -1         4     F
4994  4995       -1         4     M
4995  4996       -2         4     F
4996  4997       14         4     M

[4997 rows x 4 columns]

In [94]:
# value of n after terminal states reached for experiment 1b with seed 42 and cs2 statespace
terminalStates_data45 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states45.csv')
terminalStates_data45

    Steps
0     951
1     982
2     813
3    1003
4     959
5     782
6     870
7     991
8     811
9     843
10    754

In [95]:
#Reading CSV file for experiment 1c with seed 1 and cs2 statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data46 = pd.read_csv(filepath_or_buffer='visualizations/visualization46.csv', header=None)
var_data46.columns = cols
var_data46

         n  Rewards  Distance Agent
0        1       -1         3     F
1        2       -1         3     M
2        3       -1         1     F
3        4       -1         1     M
4        5       -1         1     F
...    ...      ...       ...   ...
4992  4993       -1         3     F
4993  4994       -1         5     M
4994  4995       -1         3     F
4995  4996       -1         3     M
4996  4997       -2         3     F

[4997 rows x 4 columns]

In [96]:
# value of n after terminal states reached for experiment 1c with seed 1 and cs2 statespace
terminalStates_data46 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states46.csv')
terminalStates_data46

    Steps
0     754
1    1058
2    1186
3     882
4     955
5     743
6     807
7     851
8    1191
9     775
10    680

In [97]:
#Reading CSV file for experiment 1c with seed 42 and cs2 statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data47 = pd.read_csv(filepath_or_buffer='visualizations/visualization46.csv', header=None)
var_data47.columns = cols
var_data47

         n  Rewards  Distance Agent
0        1       -1         3     F
1        2       -1         3     M
2        3       -1         1     F
3        4       -1         1     M
4        5       -1         1     F
...    ...      ...       ...   ...
4992  4993       -1         3     F
4993  4994       -1         5     M
4994  4995       -1         3     F
4995  4996       -1         3     M
4996  4997       -2         3     F

[4997 rows x 4 columns]

In [98]:
# value of n after terminal states reached for experiment 1c with seed 42 and cs2 statespace
terminalStates_data47 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states47.csv')
terminalStates_data47

   Steps
0    710
1    787
2    781
3   1230
4   1426
5   1162
6   1042
7    935
8    665
9    871

In [99]:
#Reading CSV file for experiment 2 with seed 1 and cs2 statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data48 = pd.read_csv(filepath_or_buffer='visualizations/visualization48.csv', header=None)
var_data48.columns = cols
var_data48

         n  Rewards  Distance Agent
0        1       -1         3     F
1        2       -1         3     M
2        3       -1         1     F
3        4       -1         1     M
4        5       -1         1     F
...    ...      ...       ...   ...
4992  4993       -1         3     F
4993  4994       -1         1     M
4994  4995       -1         3     F
4995  4996       -1         3     M
4996  4997       -1         3     F

[4997 rows x 4 columns]

In [100]:
# value of n after terminal states reached for experiment 2 with seed 1 and cs2 statespace
terminalStates_data48 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states48.csv')
terminalStates_data48

   Steps
0    754
1   1058
2   1186
3    882
4    955
5    743
6    807
7    799
8    787
9   1087

In [101]:
#Reading CSV file for experiment 2 with seed 42 and cs2 statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data49 = pd.read_csv(filepath_or_buffer='visualizations/visualization49.csv', header=None)
var_data49.columns = cols
var_data49

         n  Rewards  Distance Agent
0        1       -1         5     F
1        2       -1         3     M
2        3       -1         4     F
3        4       -1         4     M
4        5       -1         2     F
...    ...      ...       ...   ...
4991  4992       -1         2     M
4992  4993       -1         2     F
4993  4994       -1         2     M
4994  4995       -1         2     F
4995  4996       -1         2     M

[4996 rows x 4 columns]

In [102]:
# value of n after terminal states reached for experiment 2 with seed 42 and cs2 statespace
terminalStates_data49 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states49.csv')
terminalStates_data49

   Steps
0    710
1    787
2    781
3   1230
4   1426
5   1162
6    867
7    850
8    974
9   1151

In [103]:
#Reading CSV file for experiment 3a with seed 1 and cs2 statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data50 = pd.read_csv(filepath_or_buffer='visualizations/visualization50.csv', header=None)
var_data50.columns = cols
var_data50

         n  Rewards  Distance Agent
0        1       -1         3     F
1        2       -1         3     M
2        3       -1         1     F
3        4       -1         1     M
4        5       -1         1     F
...    ...      ...       ...   ...
4993  4994       -1         4     M
4994  4995       -1         2     F
4995  4996       -1         4     M
4996  4997       -1         2     F
4997  4998       -1         2     M

[4998 rows x 4 columns]

In [104]:
# value of n after terminal states reached for experiment 3a with seed 1 and cs2 statespace
terminalStates_data50 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states50.csv')
terminalStates_data50

   Steps
0    838
1    794
2    702
3   1086
4    846
5    919
6   1261
7    810
8    732
9    887

In [105]:
#Reading CSV file for experiment 3a with seed 42 and cs2 statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data51 = pd.read_csv(filepath_or_buffer='visualizations/visualization51.csv', header=None)
var_data51.columns = cols
var_data51

         n  Rewards  Distance Agent
0        1       -1         5     F
1        2       -1         3     M
2        3       -1         4     F
3        4       -1         4     M
4        5       -1         2     F
...    ...      ...       ...   ...
4993  4994       -1         2     M
4994  4995       -1         4     F
4995  4996       -1         2     M
4996  4997       -2         1     F
4997  4998       -1         3     M

[4998 rows x 4 columns]

In [106]:
# value of n after terminal states reached for experiment 3a with seed 42 and cs2 statespace
terminalStates_data51 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states51.csv')
terminalStates_data51

    Steps
0     786
1     912
2    1102
3     706
4     970
5     994
6     739
7     983
8     887
9     782
10    934

In [107]:
#Reading CSV file for experiment 3b with seed 1 and cs2 statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data52 = pd.read_csv(filepath_or_buffer='visualizations/visualization52.csv', header=None)
var_data52.columns = cols
var_data52

         n  Rewards  Distance Agent
0        1       -1         3     F
1        2       -1         3     M
2        3       -1         1     F
3        4       -1         1     M
4        5       -1         1     F
...    ...      ...       ...   ...
4993  4994       -1         4     M
4994  4995       -1         2     F
4995  4996       -1         4     M
4996  4997       -1         2     F
4997  4998       -1         2     M

[4998 rows x 4 columns]

In [108]:
# value of n after terminal states reached for experiment 3b with seed 1 and cs2 statespace
terminalStates_data52 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states52.csv')
terminalStates_data52

   Steps
0    838
1    794
2    702
3   1086
4    846
5    919
6   1261
7    810
8    732
9    887

In [109]:
#Reading CSV file for experiment 3b with seed 42 and cs2 statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data53 = pd.read_csv(filepath_or_buffer='visualizations/visualization53.csv', header=None)
var_data53.columns = cols
var_data53

         n  Rewards  Distance Agent
0        1       -1         5     F
1        2       -1         3     M
2        3       -1         4     F
3        4       -1         4     M
4        5       -1         2     F
...    ...      ...       ...   ...
4993  4994       -1         2     M
4994  4995       -1         4     F
4995  4996       -1         2     M
4996  4997       -2         1     F
4997  4998       -1         3     M

[4998 rows x 4 columns]

In [110]:
# value of n after terminal states reached for experiment 3b with seed 42 and cs2 statespace
terminalStates_data53 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states53.csv')
terminalStates_data53

    Steps
0     786
1     912
2    1102
3     706
4     970
5     994
6     739
7     983
8     887
9     782
10    934

In [111]:
#Reading CSV file for experiment 4 with seed 1 and cs2 statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data54 = pd.read_csv(filepath_or_buffer='visualizations/visualization54.csv', header=None)
var_data54.columns = cols
var_data54

         n  Rewards  Distance Agent
0        1       -1         3     F
1        2       -1         3     M
2        3       -1         1     F
3        4       -1         1     M
4        5       -1         1     F
...    ...      ...       ...   ...
2996  2997       -1         2     F
2997  2998       -1         2     M
2998  2999       -1         4     F
2999  3000       -1         2     M
3000  3001       -1         4     F

[3001 rows x 4 columns]

In [112]:
# value of n after terminal states reached for experiment 4 with seed 1 and cs2 statespace
terminalStates_data54 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states54.csv')
terminalStates_data54

   Steps
0    754
1   1058
2   1186
3    982
4    951
5    991

In [113]:
#Reading CSV file for experiment 4 with seed 42 and cs2 statespace
cols = ['n', 'Rewards', 'Distance', 'Agent']
var_data55 = pd.read_csv(filepath_or_buffer='visualizations/visualization55.csv', header=None)
var_data55.columns = cols
var_data55

         n  Rewards  Distance Agent
0        1       -1         5     F
1        2       -1         3     M
2        3       -1         4     F
3        4       -1         4     M
4        5       -1         2     F
...    ...      ...       ...   ...
2437  2438       -1         2     M
2438  2439       -2         2     F
2439  2440       -1         2     M
2440  2441       -1         4     F
2441  2442       -1         6     M

[2442 rows x 4 columns]

In [114]:
# value of n after terminal states reached for experiment 4 with seed 42 and cs2 statespace
terminalStates_data55 = pd.read_csv(filepath_or_buffer='visualizations/terminal_states55.csv')
terminalStates_data55

   Steps
0    710
1    787
2    781
3   1065
4    886
5   1050

<h3> Data Preprocessing of Visualization files</h3>

In [165]:
var_data['Rewards'] = var_data['Rewards'].cumsum()
var_data1['Rewards'] = var_data1['Rewards'].cumsum()
var_data2['Rewards'] = var_data2['Rewards'].cumsum()
var_data3['Rewards'] = var_data3['Rewards'].cumsum()
var_data4['Rewards'] = var_data4['Rewards'].cumsum()
var_data5['Rewards'] = var_data5['Rewards'].cumsum()
var_data6['Rewards'] = var_data6['Rewards'].cumsum()
var_data7['Rewards'] = var_data7['Rewards'].cumsum()
var_data8['Rewards'] = var_data8['Rewards'].cumsum()
var_data9['Rewards'] = var_data9['Rewards'].cumsum()
var_data10['Rewards'] = var_data10['Rewards'].cumsum()
var_data11['Rewards'] = var_data11['Rewards'].cumsum()
var_data12['Rewards'] = var_data12['Rewards'].cumsum()
var_data13['Rewards'] = var_data13['Rewards'].cumsum()
var_data14['Rewards'] = var_data14['Rewards'].cumsum()
var_data15['Rewards'] = var_data15['Rewards'].cumsum()
var_data16['Rewards'] = var_data16['Rewards'].cumsum()
var_data17['Rewards'] = var_data17['Rewards'].cumsum()
var_data18['Rewards'] = var_data18['Rewards'].cumsum()
var_data19['Rewards'] = var_data19['Rewards'].cumsum()
var_data20['Rewards'] = var_data20['Rewards'].cumsum()
var_data21['Rewards'] = var_data21['Rewards'].cumsum()
var_data22['Rewards'] = var_data22['Rewards'].cumsum()
var_data23['Rewards'] = var_data23['Rewards'].cumsum()
var_data24['Rewards'] = var_data24['Rewards'].cumsum()
var_data25['Rewards'] = var_data25['Rewards'].cumsum()
var_data26['Rewards'] = var_data26['Rewards'].cumsum()
var_data27['Rewards'] = var_data27['Rewards'].cumsum()
var_data28['Rewards'] = var_data28['Rewards'].cumsum()
var_data29['Rewards'] = var_data29['Rewards'].cumsum()
var_data30['Rewards'] = var_data30['Rewards'].cumsum()
var_data31['Rewards'] = var_data31['Rewards'].cumsum()
var_data32['Rewards'] = var_data32['Rewards'].cumsum()
var_data33['Rewards'] = var_data33['Rewards'].cumsum()
var_data34['Rewards'] = var_data34['Rewards'].cumsum()
var_data35['Rewards'] = var_data35['Rewards'].cumsum()
var_data36['Rewards'] = var_data36['Rewards'].cumsum()
var_data37['Rewards'] = var_data37['Rewards'].cumsum()
var_data38['Rewards'] = var_data38['Rewards'].cumsum()
var_data39['Rewards'] = var_data39['Rewards'].cumsum()
var_data40['Rewards'] = var_data40['Rewards'].cumsum()
var_data41['Rewards'] = var_data41['Rewards'].cumsum()
var_data42['Rewards'] = var_data42['Rewards'].cumsum()
var_data43['Rewards'] = var_data43['Rewards'].cumsum()
var_data44['Rewards'] = var_data44['Rewards'].cumsum()
var_data45['Rewards'] = var_data45['Rewards'].cumsum()
var_data46['Rewards'] = var_data46['Rewards'].cumsum()
var_data47['Rewards'] = var_data47['Rewards'].cumsum()
var_data48['Rewards'] = var_data48['Rewards'].cumsum()
var_data49['Rewards'] = var_data49['Rewards'].cumsum()
var_data50['Rewards'] = var_data50['Rewards'].cumsum()
var_data51['Rewards'] = var_data51['Rewards'].cumsum()
var_data52['Rewards'] = var_data52['Rewards'].cumsum()
var_data53['Rewards'] = var_data53['Rewards'].cumsum()
var_data54['Rewards'] = var_data54['Rewards'].cumsum()
var_data55['Rewards'] = var_data55['Rewards'].cumsum()

<h3>Visualization of performance variables for all experiments using SS (Somewhat Simple) StateSpace</h3>

In [167]:
# EXPERIMENT 1a with seed 1
fig = px.histogram(var_data, x='Rewards', color='Agent', title='Number of Steps vs Rewards \n(Experiment 1a with seed 1 and SS space)')
fig.update_layout(xaxis_title='Rewards for each agent', yaxis_title='Number of steps', width=650, height=400)
fig.show()

In [149]:
# EXPERIMENT 1a with seed 1
agent_colors = {'F': '#FF69B4', 'M': 'green'}
fig = px.histogram(var_data, x='Distance', color='Agent', color_discrete_map=agent_colors, title='Number of Steps vs Distance (Experiment 1a with seed 1 and SS space)')
fig.update_layout(xaxis_title='Manhattan Distance between agents', yaxis_title='Number of steps', width=650, height=400)
fig.show()

In [162]:
# EXPERIMENT 1a with seed 1

x_values = terminalStates_data.index + 1
fig = px.bar(terminalStates_data, x=x_values, y='Steps', color=x_values, title='Number of Steps for each terminal state (Experiment 1a with seed 1 and SS space)')
fig.update_layout(xaxis_title='Terminal States', yaxis_title='Number of steps', width=550, height=400)
fig.show()